
.bg-color-1 {
    background-color: #240E32;
    display: block;
    position: absolute;
    top:0px;
    left : 0px;
    width: 100vw;
    height: 100vh;
  }
  
  .bg-image-1 {
    background-color: black;
    display: block;
    position: absolute;
    top:0px;
    left : 0px;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/sp1.jpeg');
    background-size : cover;
    opacity: 0.3;
  }
  


.section-start {
    display: flex;
    position :absolute;
    top:0px;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.block1 {
    display: block;
    width: 100vw;
    height: 100vh;
    margin : 0px;
    padding : 0px;
}


.test1111{
    display: block;
    background-color: red;
}





.btn-color-1 {
    background-color: rgba(255,255,255,1);
    color : #240E32;
    border : none;
}

.btn-color-2 {
    background-color: #240E32;
    opacity: 0.9;
    border : none;
}

.text-size-0-5rem {
    font-size: 0.5rem;
}

.position-bottom {
    display: flex;
    position: absolute;
    bottom: 2rem;
    left : 2rem;
}


.text-size-1-8rem {
    font-size: 1.8rem;
}

.text-size-2rem {
    font-size: 2rem;
}

.margin-bottom-1rem {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .wid-768up {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .wid-768down {
        display: none;
    }
    }