

/* 폰트설정 */
* {
font-family: 'Noto Sans KR' , 'Montserrat', sans-serif;
}


/* 부트스트랩 추가설정 */
.text-color-white {
  color : white !important;
}

.bg-color-nav {
  background-color: rgba(0,0,0,0.8) !important;
}

/* 하단 네비게이션 */



/* 하단 네비게이션 */



.bottom {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  z-index: 700;
}

@media screen and (min-width: 600px) {
  .bottom-left {
    width: 200px;
    display: flex;
    flex-direction: row;
    font-size : 24px;
    color: white;
    padding-left : 20px;
  }
  }

@media screen and (max-width: 599px) {
  .bottom-left {
    width: 150px;
    display: flex;
    flex-direction: row;
    font-size : 16px;
    color: white;
    padding-left : 20px;
  }
  }


  @media screen and (min-width: 600px) {
    .bottom-logo {
      background-image: url("logo.png");
      background-size: cover;
      width: 28px;
      height: 28px;
    }
    }
  
  @media screen and (max-width: 599px) {
    .bottom-logo {
      background-image: url("logo.png");
      background-size: cover;
      width: 18px;
      height: 18px;
    }
    }
  

.bottom-left-text {
  padding-left : 12px;
}

@media screen and (min-width: 600px) {
  .bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size : 15px;
    color: white;
  }
  }

@media screen and (max-width: 599px) {
  .bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 70%;
    font-size : 12px;
    color: white;
  }
  }

.bottom-right-top {
  padding-bottom : 5px;
}


@media screen and (max-width: 499px) {
  .bottom-500up {
    display: none;
  }
  }

@media screen and (min-width: 500px) {
  .bottom-500down {
    display: none;
  }
  }

