

/* 폰트설정 */
* {
font-family: 'Noto Sans KR' , 'Montserrat', sans-serif;
}


/* 부트스트랩 추가설정 */
.text-color-white {
  color : white !important;
}

.bg-color-nav {
  background-color: rgba(0,0,0,0.3) !important;
}

/* 하단 네비게이션 */



.bottom {
  display: block !important;
}