/*reset*/
@import "reset.css";

/*basic*/
@import "nav.css";

/*menu*/
@import "home.css";
@import "intro.css";
@import "fac.css";
@import "direc.css";
@import "reser.css";


/* 전체적용 */

html{
    font-size: 25px;
}
body {
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    html {
      font-size: 20px;
    }
    }